/bin/
third_party/mariadb-connector-c/build-linux-x86/
*.o
*.so
*~
/archive/
Release/
Debug/
*.html
*.sdf
*.opensdf
*.suo
*.rar
*.zip
*.sublime-workspace
*.psess
*.vsp
*.orig
/src/*-old/
*.user

*.VC.*
